body {
	background-image: url("../images/brushed.png");
}

h1 {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 28px;
	width: 275px;
	margin-left: 100px;
	float: left;
	height: 100%;
	text-align: center;
	line-height: 90px;
}

.nav-items {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #777777;
	list-style-type: none;
	font-size: 16px;
	margin: 10px;
	float: left;
}

.nav-bar {
	position: absolute;
	right: 60px;
	text-align: center;
	line-height: 75px;
}

li a {
	color: #777777;
}

header {
	height: 100px;
	background-color: #ffffff;
	margin-bottom: 30px;
	border-bottom: 3px solid #cccccc;
	width: 100%;
}

.entire-content-area {
	width: 960px;
	margin-left: 100px;
}

.main-content-area {
	width: 590px; /* To make 650px total with padding*/
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 16px;
	color: #777777;
	line-height: 30px;
	background-color: #ffffff;
	padding: 30px;
	float: left;
	border: 1px solid #dddddd;
	margin-bottom: 30px;
}

p.bio-text {
	margin-bottom: 12px;
}

.horizontal-divider-thick, .horizontal-divider-thin {
	color: #dddddd;
	display: block;
}

.horizontal-divider-thick {
	border-top: 3px solid;
	margin-bottom: 20px;
	margin-top: 25px;
}

.horizontal-divider-thin {
	border-top: 2px solid;
	margin-bottom: 15px;
	margin-top: 15px;
}

#profile-photo {
	float: left;
	width: 25%;
	height: 25%;
	margin-bottom: 15px;
	margin-right: 15px;
}

.connect-sidebar {
	width: 210px;
	background-color: #ffffff;
	padding: 30px;
	float: right;
	border: 1px solid #dddddd;
}

.icon-images {
	height: 60px;
	width: 60px;
	margin: 2px;
}

a:link {
	text-decoration: none; /* Turn off underlines on links */
}

#connect-header {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 22px;
	color: #4aaaa5;
}

#main-content-title {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 26px;
	color: #4aaaa5;
}

footer {
	clear: both;
	background-color: #666666;
	padding: 30px;
	border-top: 5px solid #4aaaa5;
}

.footer-text {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #dddddd;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

/* Portfolio page */

.portfolio-thumbnail {
	z-index: 1;
	width: 100%;
}

.portfolio-box {
	display: inline-block;
	width: 250px;
    margin: 10px;
}

.portfolio-name {
	position: absolute;
	margin-top: 125px;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 18px;
	color: #ffffff;
	background-color: #4aaaa5;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 2;
	width: 250px;
}

/* Contact page */

input[type=text] {
	width: 96%;
	padding: 8px;
	margin-bottom: 12px;
	margin-top: 2px;
}

input[placeholder] {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #dddddd;
	vertical-align: middle;
}

#message-input {
	height: 200px;
	margin-bottom: 20px;
}

input[type=submit] {
	background-color: #4aaaa5;
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 18px;
	padding-left: 18px;
}