body {
	background-image: url("../images/brushed.png");
}

h1 {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: #ffffff;
	padding: 20px;
	background-color: #4aaaa5;
	font-size: 28px;
	width: 300px;
	margin-left: 100px;
	float: left;
}

.nav-items {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #777777;
	list-style-type: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

.nav-bar {
	position: absolute;
	float: right;
}

li a {
    display: block;
    width: 60px;
}

header {
	height: 100px;
	background-color: #ffffff;
	margin-bottom: 30px;
	border-bottom: 3px solid #cccccc;
}

.entire-content-area {
	width: 960px;
	margin-left: 100px;
}

.main-content-area {
	width: 590px; /* To make 650px total with padding*/
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 16px;
	color: #777777;
	line-height: 24px;
	background-color: #ffffff;
	padding: 30px;
	float: left;
	border: 1px solid #dddddd;
}

.horizontal-divider-thick, .horizontal-divider-thin {
	color: #dddddd;
	display: block;
}

.horizontal-divider-thick {
	border-top: 3px solid;
	margin-bottom: 20px;
	margin-top: 25px;
}

.horizontal-divider-thin {
	border-top: 2px solid;
	margin-bottom: 15px;
	margin-top: 15px;
}

#profile-photo {
	float: left;
	width: 25%;
	height: 25%;
	margin-bottom: 15px;
	margin-right: 15px;
}

.connect-sidebar {
	width: 210px;
	background-color: #ffffff;
	padding: 30px;
	float: right;
	border: 1px solid #dddddd;
}

.icon-images {
	height: 60px;
	width: 60px;
	margin: 2px;
}

a:link {
	text-decoration: none; /* Turn off underlines on links */
}

#connect-header {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 22px;
	color: #4aaaa5;
}

#main-content-title {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 26px;
	color: #4aaaa5;
}

footer {
	clear: both;
	background-color: #666666;
	padding: 30px;
	border-top: 5px solid #4aaaa5;
}

.footer-text {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #dddddd;
	text-align: center;
	vertical-align: middle;
}